:root {
    
}
.img {
    max-width: 100%;
}
.img-4x3 {
    object-fit: cover;
}
.img-16x9 {
    object-fit: cover;
}
.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotateX(180deg);
}
.breadcrumb {
    background-color: transparent;
}
.breadcrumb-item::before {
    display: none !important;
}
.off-canvas {
    width: 300px;
    left: -300px;
}
@media (min-width: 576px) {
    
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}