:root {
    --off-canvas-width: 320px;
    --transition: all .3s;
}
ul, ol {
    margin-bottom: 0;
}
.img {
    max-width: 100%;
}
.img-4x3 {
    object-fit: cover;
}
.img-16x9 {
    object-fit: cover;
}
.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotateX(180deg);
}
.breadcrumb {
    background-color: transparent;
}
.breadcrumb-item--no-separator {
    padding-left: .2rem !important;
}
.breadcrumb-item--no-separator::before {
    display: none !important;
}
.off-canvas {
    width: var(--off-canvas-width);
    left: calc((var(--off-canvas-width) + .5rem) * (-1));
    transition: var(--transition);
}
.off-canvas--open {
    left: 0;
    transition: var(--transition);
}
.off-canvas__close-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
@media (min-width: 576px) {
    
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}